<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "1.0.0">
<name>Bolly Holly</name>
<description>
A traditional bollywood hollywood game at the android platform.
</description>
<icon src="icon.png" gap:platform="android" gap:density="ldpi" />
<icon src="icon.png" gap:platform="android" gap:density="mdpi" />
<icon src="icon.png" gap:platform="android" gap:density="hdpi" />
<icon src="icon.png" gap:platform="android" gap:density="xhdpi" />
<icon src="icon.png" gap:platform="android" gap:density="xxhdpi" />
<gap:splash src="splash.png" gap:platform="android" gap:qualifier="ldpi" />
<gap:splash src="splash.png" gap:platform="android" gap:qualifier="mdpi" />
<gap:splash src="splash.png" gap:platform="android" gap:qualifier="hdpi" />
<gap:splash src="splash.png" gap:platform="android" gap:qualifier="xhdpi" />
<gap:splash src="splash.png" gap:platform="android" gap:qualifier="fr-xhdpi" />
<gap:splash src="splash.png" gap:platform="android" gap:qualifier="port-xxhdpi" />
<gap:splash src="splash.png" gap:platform="android" gap:qualifier="land-xxhdpi" />
<author href="https://justff.tk" email="akhil@justff.tk">
Akhil Goel
</author>

</widget>
