<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "1.0.0">

<name>Bolly Holly</name>

<description>
A traditional bollywood hollywood game at the android platform.
</description>

<author href="https://justff.tk" email="akhil@justff.tk">
Akhil Goel
</author>

</widget>
